* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	height:70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding:15px 24px;
	text-transform: uppercase;
}
header h1 a {
    transition: 0.3s;
}
header h1 a:hover {
    color: #DD4A48;
}
header ul {
    float: right;
}
header ul li {
    padding: 24px;
    display: inline-block;
}
header ul li a {
    transition: 0.3s;
}
header ul li a:hover {
    color: #DD4A48;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
}
.mobile-menu:hover {
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(64, 136, 114, 0.9);
    transition: 0.3s;
    z-index: 9999;
}
.sidebar ul li a {
    color: #fff;
}
.sidebar ul li {
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}
.sidebar ul li:hover {
    background-color: #FF7BA9;
}
#check:checked ~ .sidebar {
    left: 0;
}
.banner {
    background-color: #6EBF8B;
    padding: 150px 0;
}
section {
    padding: 50px 0;
}
.banner img {
    width: 100px;
    margin-bottom: 10px;
}
.banner h2,
.banner p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.banner-left {
    padding-left: 24px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #333;
    left: calc(50% - 60px);
}
section h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: rgb(196, 0, 0);
    left: calc(50% - 20px);
}
#about,
#portofolio {
    background-color: #F3E9DD;
}
#about p {
    text-align: center;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}
#skills,
#contact {
    background-color: #874356;
}
#skills h3,
#contact h3 {
    color: #fff;
}
#skills h4 {
    color: #fff;
}
#skills .bar {
    height: 30px;
    background-color: #F3E9DD;
    border: 1px solid #fff;
    margin: 5px 0 20px 0;
}
.bar .nilai{
    height: 30px;
    background-color: #362706;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.html {
    width: 85%;
}
.ai {
    width: 95%;
}
.figma {
    width: 90%;
}
.ps {
    width: 80%;
}
.col-5 {
    width: 20%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
}
.col-5 img {
    width: 100%;
}
.col-5 a:hover img {
    transform: scale(1.2);
}
.col-3 {
    width: 33%;
    float: left;
}
.col-3 img {
    width: 70%;
}
.col-3 a:hover img {
    transform: scale(1.2);
}
footer {
    background-color: #1d3826;
    padding: 50px;
    text-align: center;
}
footer small {
    color: #fff;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 786px) {
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
    col-3 {
        width: 100%;
    }
}